@page "/"

<PageTitle>League of Building</PageTitle>

<h2>League of Building</h2>
<h5>Easily compare items and builds for your champion in this simulator.</h5>
<h5>Quickly analyze your build's impacts on your selected champion's stat profile.</h5>
<h5>Determine the best builds in lane and beyond in the matchup and teamfight simulator.</h5>

<button class="btn-primary">Start a new Build</button>